*.class
.metadata
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.orig
*.iml
.gradle
.classpath
.settings
.project
.idea
.nb-gradle-properties
.DS_Store
build
bin
target
target-eclipse
private
logs
out
log.fmpp
_git.gsp
*.iml
.idea
classes/
tlog.*
gradle.properties
!.github/*
